{% extends "bestperformers/layout.html" %}

{% block body %}
    <div style="display: flex; justify-content: center;"><h1>Watch List</h1></div>    

    <h2>Add New Stock</h2>
    <div style="display: flex;">
        <div style="margin: 5px;">
            <form action="{% url 'add_new_stock' %}" method="post">
                {% csrf_token %}
                <label for="ticker">Ticker:</label>
                <input type="text" id="ticker" name="ticker" required>
                <button type="submit">Add Stock</button>
            </form>
        </div>

        <!-- <button hx-post="/api/submit" hx-trigger="click" hx-target="#response">Send Request</button>
<div id="response"></div> -->

        <div style="display:inline-block; margin: 5px;">
            <form action="{% url 'getwatchlistallscreens' %}" method="get" onsubmit="return confirm('It will take a few minutes. Are you sure you want to update all screens?')">
                {% csrf_token %}
                <button type="submit">Update All Screens</button>
            </form>
        </div>
        <div id="response"></div>
    </div>

    <ul>
        {% for stock in watchlist %}
            <li>
                <hr style="border: none; height: 10px; background-color: rgb(95, 195, 241); width: 100%;">
                <b>{{ forloop.counter }}. of {{ watchlist|length }}</b>
                <div style="display:inline-block; color:green; margin: 5px;"><u><b>&nbsp{{ stock.ticker }} : {{stock.stock_exchange.name}}</b></u></div>
                <div style="display:inline-block;"><u>{{ stock.name }}</u></div>
                <div style="display:inline-block; color: gray;">({{ stock.sector }})</div>
                <div style="display:inline-block; color:darkcyan"><u>Price: {{ stock.price }}</u></div>
                <div style="display:inline-block; color: blue;"> | {{ stock.timestamp }}</div>
                <div style="display:inline-block;">
                    <form action="{% url 'update_item_screens' stock.id %}" method="post" onsubmit="return confirm('It will take a few minutes. Are you sure you want to update {{ stock.ticker }}?')">
                            {% csrf_token %}
                            <button>Update Item Screens</button>
                    </form>
                </div>
                <div style="display:inline-block;">
                    <form action="{% url 'delete_item' stock.id %}" method="post" onsubmit="return confirm('Are you sure you want to delete {{ stock.ticker }}?')">
                            {% csrf_token %}
                            <button>Delete Item</button>
                    </form>
                </div>
                <div style="display:inline-block;">
                    <form action="{% url 'show_item' stock.id %}" method="get">
                            {% csrf_token %}
                            <button>See Only This Item</button>
                    </form>
                </div>
                 <div>
                    <img src="/{{ stock.screens.fin_yahoo_screen_path }}" alt="{{ stock.ticker }}" style="height:600px;vertical-align:middle;">
                    <img src="/{{ stock.screens.finchart_google_screen_path }}" alt="{{ stock.ticker }}" style="height:600px;vertical-align:middle;">
                    <img src="/{{ stock.screens.fin_google_screen_path }}" alt="{{ stock.ticker }}" style="height:600px;vertical-align:middle;">
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
